
<!DOCTYPE html>
<html xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- Jquery for Customized Dropdown -->
		

		
        
        <!--Scripts for slider  -->
		<link href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		<!-- Slider scripts end here -->
	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Garamond Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js" ></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css"/>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/openseadragon.min.js"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="openseadragon-html-overlay.js"></script>

		<style>
			@import url("http://fonts.googleapis.com/css?family=Lato");
			
			body{
			  color: white;
			  font-family: 'EB Garamond', serif;
			}
			iframe{
				/*width: 80%;*/
			    /*margin: -10px 371px;*/
			    float: right;
			    border: 1px;
			    border-style: solid;
			    /*height: 890px;*/
			    height: 831px;
			    border-color: #000000;
			    display: block;
			    margin-top: -35px;
			}

            .openseadragon1 {

                width: 40%;
                height: 720px;
                margin-top: 10px; 
                margin-left:50px;
         
            }

            .openseadragon2 {

                width: 40%;
                height: 720px;
                margin-top: 10px; 
         
            }

			.tabs {
			  width: 650px;
			  float: none;
			  list-style: none;
			  position: relative;
			  margin: 10px 0 0 10px;
			  text-align: left;
			}
			.tabs li {
			  float: left;
			  display: block;
			}
			.tabs input[type="radio"] {
			  position: absolute;
			  top: 0;
			  left: -9999px;
			}
			.tabs label {
			  display: block;
			  padding: 14px 21px;
			  border-radius: 2px 2px 0 0;
			  font-size: 20px;
			  font-weight: normal;
			  text-transform: uppercase;
			  /*background: #8e44ad;*/
			  cursor: pointer;
			  position: relative;
			  top: 4px;
			  -moz-transition: all 0.2s ease-in-out;
			  -o-transition: all 0.2s ease-in-out;
			  -webkit-transition: all 0.2s ease-in-out;
			  transition: all 0.2s ease-in-out;
			}
			.tabs label:hover {
			  /*background: #703688;*/
			}
			.tabs .tab-content {
			  z-index: 2;
			  display: none;
			  /*overflow: hidden; NEW*/
			  width: 100%;
			  font-size: 17px;
			  line-height: 25px;
			  padding: 25px;
			  position: absolute;
			  top: 53px;
			  left: 0;
			  background: #832233;
			  /*height: 94%;*/
			  border-radius: 7px;
			   overflow: scroll;
			}
			.tabs [id^="tab"]:checked + label {
			  top: 0;
			  padding-top: 17px;
			  background: #832133;
			  /*margin-left: -40px;*/
              margin-top: 3px;
			}
			.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
			  display: block;
			  height: 654px;
			}

			p.link {
			  clear: both;
			  margin: 380px 0 0 15px;
			}
			p.link a {
			  text-transform: uppercase;
			  text-decoration: none;
			  display: inline-block;
			  color: #fff;
			  padding: 5px 10px;
			  margin: 0 5px;
			  background-color: #612e76;
			  -moz-transition: all 0.2s ease-in;
			  -o-transition: all 0.2s ease-in;
			  -webkit-transition: all 0.2s ease-in;
			  transition: all 0.2s ease-in;
			}
	
				  .logoLab{
			        width: 90%;
			        margin-left: 10px;
			        margin-bottom: 15px;
			        border-radius: 8px;
			      }
			      .logoBWH{
			        width: 40%;
							        
			        /*margin-left: 16px;
			          margin-bottom: 15px;*/
			      }
			      .footerLogo{
			      	display: inline-block;
				    margin-left: auto;
				    margin-right: auto;
				    
			      }
			      .logoHMS{
				    width: 40%;
					margin-top: 40px;
			      }
			      .logoBI{
			        width: 54%;
			   
			      }
			      .columnLeft {
			          /*border: 2px solid #f3f3f3;*/
			          float: left;
			          margin-top: -9px;
			          width: 94%;
			          border-radius: 5px;
			          /* background-color: #f2f2f2; */
			          padding: 6px;
			          height: 80%;
			          /*background: #832233;*/
			      }
			       .TopContainer {
			          
			          /*border: 2px solid #f3f3f3; */
			          float: left;
			          /*margin-top: -26%; */
			          width: auto;
			          border-radius: 5px;
			          /* background-color: #f2f2f2; */
			          /* padding: 47px; */
			          height: 80%;
			          /*background: #832233;*/
			      
			      }
			      
			      .select-css {
			        margin-top: 7px !important;
			        display: block;
			        font-size: 12px;
			        /*font-family: sans-serif;*/
			        font-weight: 700;
			        color: #444;
			        line-height: 1.3;
			        padding: .6em 1.4em .5em .8em;
			        width: 100%;
			        max-width: 100%;
			        box-sizing: border-box;
			        margin: 0;
			        border: 1px solid #aaa;
			        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
			        border-radius: .5em;
			        -moz-appearance: none;
			        -webkit-appearance: none;
			        appearance: none;
			        background-color: #fff;
			        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
			          linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
			        background-repeat: no-repeat, repeat;
			        background-position: right .7em top 50%, 0 0;
			        background-size: .65em auto, 100%;
			        cursor: pointer;
			      }
			      .select-css::-ms-expand {
			        display: none;
			      }
			      .select-css:hover {
			        border-color: #888;
			      }
			      .select-css:focus {
			        border-color: #aaa;
			        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
			        box-shadow: 0 0 0 3px -moz-mac-focusring;
			        color: #222;
			        outline: none;
			      }
			      .select-css option {
			        font-weight:normal;
			      }
			     
			        .button{
			        	margin-right: 5px;
			            color: #444;
			            margin-top: 10px;
			           padding: 9px 33px !important;
			            border: 1px solid #aaa;
			            /* border-color: rgba(0,0,0,0.2); */
			            border-bottom-color: #333;
			            border-bottom-color: rgba(0,0,0,0.4);
			            /* color: #fff; */
			            /* box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9); */
			            cursor: pointer;
			            display: inline-block;
			            /* font: bold 73%/2.1 "Lucida Grande", Tahoma, sans-serif; */
			            padding: 0 .95em 0 0;
			            text-align: center;
			            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
			            text-decoration: none;
			            /* text-shadow: 0 1px 0 rgba(0,0,0,0.5); */
			            white-space: nowrap;
			            -moz-user-select: none;
			            -webkit-user-select: none;
			            -ms-user-select: none;
			            user-select: none;
			            position: relative;
			            border-radius: .3em;
			            /* background-color: #a4182e; */
			            background-color: #eaeaea;
			            /*font-family: sans-serif;*/
			            font-weight: 700;
			            border-radius: 7px;
			        }
			        .button:hover {
			            background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
			        }

			        .overlayForm{
			          padding-top: 26px;
			        }
			       
         
        
            .slider{
              position: relative;
              margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 25px;
                width: 90%;
                background: #aaaaaa;
                height: 15px;
                border-radius: 10px;
                border: 1px solid #DDDDDD;
            }

            .slider .ui-slider-handle {
                position: absolute;
                background: #aaaaaa;
                border-radius: 5px;
                width: 18px;
                height: 47px;
                top: -15px;
                left: 50px;
                border-style: none;
                box-shadow: none;
            }

            input[type=text] {
              display: none;
              border: 1px solid #10A447;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              padding: 5px 10px;
              margin-top: -15px;
              text-align: center;
              background-color: #ffffff;
              width: 120px;
              color: #2A3137;
              font-size: 18px;
              font-weight: bold;
              margin-top: 5px;
              margin-left: 5px;
            }

          .overlayStyle{
            text-align: center;
              margin-top: -40%;
              /* padding: 10px; */
              /*display: block;*/
          }
          a,label{
            color: white;
          }
          .containerLI{
          	margin-left: -38px;
          }
					


						.footer-distributed{
							background: #000;
							box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
							box-sizing: border-box;
							width: 100%;
							font: bold 16px sans-serif;
							text-align: left;
							padding: 50px 60px 40px;
							overflow: hidden;
						}

		

						.footer-distributed .footer-left{
							float: left;
						}


						.footer-distributed h3{
							color:  #ffffff;
							font: normal 36px 'Roboto', cursive;
							margin: 0 0 10px;
						}

						.footer-distributed h3 span{
							color:  #5383d3;
						}


						.footer-distributed .footer-links{
							color:  #ffffff;
							margin: 0 0 10px;
							padding: 0;
						}

						.footer-distributed .footer-links a{
							display:inline-block;
							line-height: 1.8;
							text-decoration: none;
							color:  inherit;
						}

						.footer-distributed .footer-company-name{
							color:  #8f9296;
							font-size: 18px;
							font-weight: normal;
							margin: 0;
						}

						/* Footer social icons */

						.footer-distributed .footer-icons{
							margin-top: 40px;
						}

						.footer-distributed .footer-icons a{
							display: inline-block;
							width: 35px;
							height: 35px;
							cursor: pointer;
							background-color:  #33383b;
							border-radius: 2px;

							font-size: 20px;
							color: #ffffff;
							text-align: center;
							line-height: 35px;

							margin-right: 3px;
							margin-bottom: 5px;
						}

						/* Footer Right */

						.footer-distributed .footer-right{
							float: right;
						}

						.footer-distributed .footer-right p{
							display: inline-block;
							vertical-align: top;
							margin: 15px 42px 0 0;
							color: #ffffff;
						}

						/* The contact form */

						.footer-distributed form{
							display: inline-block;
						}

						.footer-distributed form input,
						.footer-distributed form textarea{
							display: block;
							border-radius: 3px;
							box-sizing: border-box;
							background-color:  #1f2022;
							box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
							border: none;
							resize: none;

							font: inherit;
							font-size: 14px;
							font-weight: normal;
							color:  #d1d2d2;

							width: 400px;
							padding: 18px;
						}

						.footer-distributed ::-webkit-input-placeholder {
							color:  #5c666b;
						}

						.footer-distributed ::-moz-placeholder {
							color:  #5c666b;
							opacity: 1;
						}

						.footer-distributed :-ms-input-placeholder{
							color:  #5c666b;
						}


						.footer-distributed form input{
							height: 55px;
							margin-bottom: 15px;
						}

						.footer-distributed form textarea{
							height: 100px;
							margin-bottom: 20px;
						}

						.footer-distributed form button{
							border-radius: 3px;
							background-color:  #33383b;
							color: #ffffff;
							border: 0;
							padding: 15px 50px;
							font-weight: bold;
							float: right;
						}


						@media (max-width: 1000px) {

							.footer-distributed {
								font: bold 14px sans-serif;
							}

							.footer-distributed .footer-company-name{
								font-size: 12px;
							}

							.footer-distributed form input,
							.footer-distributed form textarea{
								width: 250px;
							}

							.footer-distributed form button{
								padding: 10px 35px;
							}

						}

						@media (max-width: 800px) {

							.footer-distributed{
								padding: 30px;
							}

							.footer-distributed .footer-left,
							.footer-distributed .footer-right{
								float: none;
								max-width: 300px;
								margin: 0 auto;
							}

							.footer-distributed .footer-left{
								margin-bottom: 40px;
							}

							.footer-distributed form{
								margin-top: 30px;
							}

							.footer-distributed form{
								display: block;
							}

							.footer-distributed form button{
								float: none;
							}
						}
						.column {
							  float: left;
							  background: black;
							  width: 25%;
							  color: white;
							  /*padding: 10px;*/
							}

							/* Clear floats after the columns */
							.row{
							  content: "";
							  display: table;
							  clear: both;
							  /*margin-top: 3%;*/
							}

							.LabLogoFooter{
								
							    width: 80%;
							}

							/*Toggle*/
							.switch {
								position: relative;
								display: block;
								vertical-align: top;
								width: 100px;
								height: 30px;
								padding: 3px;
								margin: 0 10px 10px 0;
								background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
								background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
								border-radius: 18px;
								box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
								cursor: pointer;
								box-sizing:content-box;
							}
							.switch-input {
								position: absolute;
								top: 0;
								left: 0;
								opacity: 0;
								box-sizing:content-box;
							}
							.switch-label {
								position: relative;
								display: block;
								height: inherit;
								font-size: 10px;
								text-transform: uppercase;
								background: #eceeef;
								border-radius: inherit;
								box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
								box-sizing:content-box;
							}
								.switch-label:before, .switch-label:after {
									position: absolute;
									top: 50%;
									margin-top: -.5em;
									line-height: 1;
									-webkit-transition: inherit;
									-moz-transition: inherit;
									-o-transition: inherit;
									transition: inherit;
									box-sizing:content-box;
								}
								.switch-label:before {
									content: attr(data-off);
									right: 28px;
									color: #444444;
									text-shadow: 0 1px rgba(255, 255, 255, 0.5);
									font-weight: bold;

								}
								.switch-label:after {
									content: attr(data-on);
									left: 11px;
									color: #FFFFFF;
									text-shadow: 0 1px rgba(0, 0, 0, 0.2);
									opacity: 0;
									font-weight: bold;
								}
								.switch-input:checked ~ .switch-label {
									background: #832133;
									box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
								}
								.switch-input:checked ~ .switch-label:before {
									opacity: 0;
								}
								.switch-input:checked ~ .switch-label:after {
									opacity: 1;
								}
								.switch-handle {
									position: absolute;
									top: 4px;
									left: 4px;
									width: 28px;
									height: 28px;
									background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
									background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
									border-radius: 100%;
									box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
								}
								.switch-handle:before {
									content: "";
									position: absolute;
									top: 50%;
									left: 50%;
									margin: -6px 0 0 -6px;
									width: 12px;
									height: 12px;
									background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
									background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
									border-radius: 6px;
									box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
								}
								.switch-input:checked ~ .switch-handle {
									left: 74px;
									box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
								}
 
								/* Transition
								========================== */
								.switch-label, .switch-handle {
									transition: All 0.3s ease;
									-webkit-transition: All 0.3s ease;
									-moz-transition: All 0.3s ease;
									-o-transition: All 0.3s ease;
								}	
								table, th, td {
								    border: 3px solid #832133;
								    border-collapse: collapse;
								    background-color: #f3f3f3;
								    color: black;
								    /*border-color: rgba(131, 32, 51,0.6);*/
								}
								th, td {
								    padding: 5px;
								}			

								.dropdownCSS{
									    font-weight: 400;
									    /* margin-top: 33px; */
									    margin-left: -19px;
									    margin-bottom: -10px;
									    font-size: 16px;
									    /*font-family: serif;*/
								}	 
						
									.container{
										display: none;
									}

									.bar1, .bar2, .bar3 {
									  width: 35px;
									  height: 5px;
									  background-color: #e7e2df;
									  margin: 6px 0;
									  transition: 0.4s;
									}

									.change .bar1 {
									  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
									  transform: rotate(-45deg) translate(-9px, 6px);
									}

									.change .bar2 {opacity: 0;}

									.change .bar3 {
									  -webkit-transform: rotate(45deg) translate(-8px, -8px);
									  transform: rotate(45deg) translate(-8px, -8px);
								}
								.iframesmall{
									width: 82%;
								}
								.iframeFull{
									width: 100%;
								}
						
								html, body { height: 100%; width: 100%; margin: 0; }

							
								.slider-arrow{
									display: none;
								}

								@media only screen and (max-width : 1400px){
									.tabs .tab-content{
										 background: rgba(131, 32, 51,0.6);
										 margin-left: 12px;
										 margin-top: 7px;
									}
									.tabs [id^="tab"]:checked + label {
										 background: rgba(131, 32, 51,0.6);
									}
									 .TopContainer {
									 	position: absolute;
									 }
									 .iframesmall{
									 	width: 100%;
									 }
									 .container{
									 	margin-top: 3px;
									    position: absolute;
									    margin-left: 15%;
									    display: block;
									 }
									 .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
									 	height: 659px;
									 }
									 .containerLI{
									 	margin-left: -27px;
									 }
									 .TopContainer{
									 	    margin: -3px;
									 }
									/*Sliding sidebar*/
									 .panel {
									 	position: absolute !important;
										width:300px;
										float:left;
										height:550px;
										/*background:#d9dada;*/
										position:relative;
										left:-2px;

									}
									.slider-arrow {
										display: block;
										left: 315px;
    									top: 78px;
    									/*top: -1996px;*/
										padding:5px;
										width:20px;
										float:left;
										background:rgba(131, 32, 51,0.6);
										font:400 12px Arial, Helvetica, sans-serif;
										color: #fff;
										text-decoration:none;
										position:absolute;
										/*left:-284px;*/
										font-size: 29px;
									}
									table, th, td{
										border-color: rgba(131, 32, 51,0.6);
									}

								}
							@media only screen and (min-width : 1400px){
								.iframesmall{
									width: 80%;
								}
							}
							@media only screen and (min-width : 1557px){
								.iframesmall{
									width: 82%;
								}
							}
							/*For larger screens*/
							@media only screen and (min-width : 1681px){
								.iframesmall{
									width: 84%;
								}
							}
							.copyrighthFooter{
								padding: 5px;
							    text-align: center;
							    background: #832133;
							    font-weight: bold;
							}
						
							@media only screen and (min-width : 1720px){
								iframe{
									height: 1100px;
								}
								.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
								  height: 885px;
								}
								.FooterTextMain{
									font-size: 27px;
								}
								.FooterText{
									font-size: 24px;
								}
							}
							.Twitter{
									width: 50%;
								}
								.GitHub{
									width: 42%;
									
								}

							@media only screen and (min-width : 3000px){ 
								.copyrighthFooter{
									padding: 19px;
								}
							
								.iframesmall{
									width: 87%;
								}
								.TopContainer{
									width: 12%;
								}
								.GitHub{
									margin-left: 14px;
								}

							}
							@media only screen and (min-width : 2000px){ 
								.TopContainer{
									width: 10%;
								}
							}

                            #zoom-out:hover {
                                
                            }

		</style>
	</head>

	<body style="background-color: black">
        <style type="text/css"> #myContainer {  width:-webkit-fill-available; height:770px;  border-style:none; } </style>
	
		<!-- Content Desktop -->
		<div id="content-desktop">

		<div class="panel">
        	<ul class="tabs TopContainer" role="tablist">
              <li class="containerLI">
                <input type="radio" name="tabs" id="tab1" checked />
                <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">Main</label>
                <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
                
                    <div class="columnLeft">
                        <form style="margin: -22px;margin-bottom: 7px;">
                            <label for="OrganSelection" class="dropdownCSS" style="margin-top: 21px;">Select Study:</label>
                            <select id="OrganSelection" class="select-css">
                                <!-- <option>Organ Selection</option> -->
                                <option value="GBM">GBM</option>
                                <option value="LGG">LGG</option>
                                <option value="LUAD">LUAD</option>
                                <option value="LUSC">LUSC</option>
                            </select>
         
                            <label for="PatientSelection" class="dropdownCSS">Select Patient:</label>
                                <select class="select-css"  id="PatientSelection">
                                    <option value="Patient1">Patient1 (Resection)</option>
                                    <option value="Patient2">Patient2 (Resection)</option>
                                </select>
                                <br>
                                <div id="toggleButton" style="display: inline-block; width:100%; margin-top: 14px;" >
									<p style="float:left; margin-left:13px; margin-top: 17px; margin-right: 33px;"> Slide/Patch Level:</p>
									<label class="switch"  style="padding:3px; border-radius: 19px; margin-top: 6px; display: inline-block;">
										<input id="toggle-event" class="switch-input" type="checkbox" data-on="Slide" data-off="Patch"/>
										<span class="switch-label" data-on="Slide" data-off="Patch"></span> 
										<span class="switch-handle"></span> 
									</label>
								</div>
                                <br>
                                <br>
                    
                                <p style="text-align: center;margin-left: -23px; color: white; margin-top: 200px !important;">© DeepMIA Lab
                                    <br>
                    <!-- Putting links inside <p> to center align links -->
                                    <a href="https://deepmia-test.boun.edu.tr/" target="_blank">www.deepmialab.org</a><br>
                                    <a href="https://github.com/CapsuleEndoscope/AI-FFPE" target="_blank">GitHub</a><br>
                                </p>

                            </form>
                        </div>
                    </div>
                    </li>

                    <li>
                        <input type="radio" name="tabs" id="tab2" />
                        <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Meta Data</label>
                        <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
                        </div>
                    </li>
                </ul>
            </div>
        <div id="viewer0" class="openseadragon1 " style= "display:inline-block; position: relative;"></div>
        <div id="viewer1" class="openseadragon2 " style= "display:inline-block; position: relative;"></div>
        
        
        
        <div id='viewerToolbar' style="width: 81%; background-image: linear-gradient(to right, #f0f0f0 10%, #c8c8c8 51%, #f0f0f0 100%); height: 30px; margin-left:300px;">
        
            <a href="javascript:void(0);" style="margin-left: 40%; " >
					 <img id="zoom-out"style="width:2%;"src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/zoomout_rest.png" alt="">
			</a>
            <a href="javascript:void(0);" style="margin-left: 6px; " >
					 <img id="zoom-in" style="width:2%;"src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/zoomin_rest.png" alt="">
			</a>
            <a href="javascript:void(0);" style="margin-left: 6px; " >
					 <img id="home" style="width:2%;"src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/home_rest.png" alt="">
			</a>
            <a href="javascript:void(0);" style="margin-left: 6px; " >
					 <img id="fullscreen" style="width:2%;"src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/fullpage_rest.png" alt="">
			</a>
            <a href="javascript:void(0);" style="margin-left: 6px; " >
					 <img id="rotate-left" style="width:2%;"src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/rotateleft_rest.png" alt="">
			</a>
            <a href="javascript:void(0);" style="margin-left: 6px; " >
					 <img id="rotate-right" style="width:2%;"src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/rotateright_rest.png" alt="">
			</a>
        </div>


	        <a href="javascript:void(0);" class="slider-arrow hide">&raquo;</a>
	      
	        <div class="row" style="margin-bottom: 20px; ">
				<div class="column" style=" width: 20%; margin-left:10px; margin-top:50px">
					<a href="http://www.boun.edu.tr/" target="_blank" style="margin-right:20px;">
					  <img class="logoHMS footerLogo" src="https://upload.wikimedia.org/wikipedia/tr/thumb/e/e2/Bo%C4%9Fazi%C3%A7i_%C3%9Cniversitesi_Logo.png/300px-Bo%C4%9Fazi%C3%A7i_%C3%9Cniversitesi_Logo.png" alt="BOUN logo">
					</a>
					<a href="https://bme.boun.edu.tr/" target="_blank">
					 <img class="logoBWH footerLogo" src="https://bme.boun.edu.tr/sites/bme.boun.edu.tr/files/bme-logo_1.png" alt="BME logo">
					</a>
				</div>
		      	<div class="column" style=" width: 70%;margin-left:50px; margin-top:20px">
		      		<p class="FooterTextMain" style="font-weight: bold;">Deep Learning-based Frozen Section to FFPE Translation</p>
		      		<p class="FooterText" style="font-weight: bold">Kutsev Bengisu Ozyoruk, Guliz Irem Gokceler, Kayhan Başak, Uguray Payam Hacisalihoglu, Berkan Darbaz, Mohamad Kassab, Ming Y. Lu, Tiffany Y. Chen, Drew F. K. Williamson, Faisal Mahmood and Mehmet Turan*</p>
		      		<p class="FooterText" style="font-weight: bold"> <a href="https://arxiv.org/pdf/2004.09666.pdf">arXiv</a> | <a href="https://github.com/CapsuleEndoscope/AI-FFPE">GitHub</a>  </p>
		      		<p class="FooterText"><strong>AI-FFPE </strong> is a pipeline which is optimized for histopathology images by driving the network attention specifically to the nuclei and tissue preperation protocols related deficiencies.
					</p>
					<p class="FooterText" style="font-weight: bold;">This demo showcases the model's ranking of different regions in the slide in terms of their importance to the final slide-level diagnostic prediction. High attention regions (shown in red) correspond to regions considered by the model to be important towards the classification determination and the regions of highest attention should correspond to morphological patterns that are characteristic of the predicted class. On the other hand, low attention regions (shown in blue) should generally correspond to regions deemed by the model as lacking in diagnostic relevance to the underlying prediction.  </p>
		      	</div>	
				  
	        </div>


			<br>

		</div>
		
		<footer class="copyrighthFooter">© Copyright 2021 DeepMIA Lab | All Rights Reserved</footer>

        <script type="text/javascript">
		(function(){

			$('#OrganSelection').on('change', function(){
				$('#PatientSelection').html('');
				if($('#OrganSelection').val()=="GBM"){
					$('#PatientSelection').append('<option value="Patient1">Patient1 (Resection)</option>');
					$('#PatientSelection').append('<option value="Patient2">Patient2 (Resection)</option>');
				}
				else if($('#OrganSelection').val()=="LGG"){
					$('#PatientSelection').append('<option value="Patient1">Patient1 (Resection)</option>');
					$('#PatientSelection').append('<option value="Patient2">Patient2 (Resection)</option>');

				}else if($('#OrganSelection').val()=="LUAD"){
					$('#PatientSelection').append('<option value="Patient1">Patient1 (Resection)</option>');
					$('#PatientSelection').append('<option value="Patient2">Patient2 (Resection)</option>');

				}
				else{
					$('#PatientSelection').append('<option value="Patient1">Patient1</option>');      
					$('#PatientSelection').append('<option value="Patient2">Patient2</option>');      
				}

			});

            

			var gbm_frozen_files=["http://192.168.1.109:8000/wsi/brain/frozen/gbm/1.png","http://192.168.1.109:8000/wsi/brain/frozen/gbm/2.png"]
			var gbm_fake_files=["http://192.168.1.109:8000/wsi/brain/aiffpe/gbm/fake_stitch1.png","http://192.168.1.109:8000/wsi/brain/aiffpe/gbm/fake_stitch2.png"]
			var lgg_frozen_files=["http://192.168.1.109:8000/wsi/brain/frozen/lgg/1.png","http://192.168.1.109:8000/wsi/brain/frozen/lgg/2.png"]
			var lgg_fake_files=["http://192.168.1.109:8000/wsi/brain/aiffpe/lgg/fake_stitch1.png","http://192.168.1.109:8000/wsi/brain/aiffpe/lgg/fake_stitch2.png"]
			var luad_frozen_files=["http://192.168.1.109:8000/wsi/lung/frozen/luad/1.png","http://192.168.1.109:8000/wsi/lung/frozen/luad/2.png"]
			var luad_fake_files=["http://192.168.1.109:8000/wsi/lung/aiffpe/luad/fake_stitch1.png","http://192.168.1.109:8000/wsi/lung/aiffpe/luad/fake_stitch2.png"]
			var lusc_frozen_files=["http://192.168.1.109:8000/wsi/lung/frozen/lusc/1.png","http://192.168.1.109:8000/wsi/lung/frozen/lusc/2.png"]
			var lusc_fake_files=["http://192.168.1.109:8000/wsi/lung/aiffpe/lusc/fake_stitch1.png","http://192.168.1.109:8000/wsi/lung/aiffpe/lusc/fake_stitch2.png"]


            var gbm_frozen_files_patch=["http://192.168.1.109:8000/patch/brain/frozen/gbm/1.png","http://192.168.1.109:8000/patch/brain/frozen/gbm/2.png"]
			var gbm_fake_files_patch=["http://192.168.1.109:8000/patch/brain/aiffpe/gbm/1.png","http://192.168.1.109:8000/patch/brain/aiffpe/gbm/2.png"]
			var lgg_frozen_files_patch=["http://192.168.1.109:8000/patch/brain/frozen/lgg/1.png","http://192.168.1.109:8000/patch/brain/frozen/lgg/2.png"]
			var lgg_fake_files_patch=["http://192.168.1.109:8000/patch/brain/aiffpe/lgg/1.png","http://192.168.1.109:8000/patch/brain/aiffpe/lgg/2.png"]
			var luad_frozen_files_patch=["http://192.168.1.109:8000/patch/lung/frozen/luad/1.png","http://192.168.1.109:8000/patch/lung/frozen/luad/2.png"]
			var luad_fake_files_patch=["http://192.168.1.109:8000/patch/lung/aiffpe/luad/1.png","http://192.168.1.109:8000/patch/lung/aiffpe/luad/2.png"]
			var lusc_frozen_files_patch=["http://192.168.1.109:8000/patch/lung/frozen/lusc/1.png","http://192.168.1.109:8000/patch/lung/frozen/lusc/2.png"]
			var lusc_fake_files_patch=["http://192.168.1.109:8000/patch/lung/aiffpe/lusc/1.png","http://192.168.1.109:8000/patch/lung/aiffpe/lusc/2.png"]
			
			var frozen_file_name=gbm_frozen_files[0]
			var aiffpe_file_name=gbm_fake_files[0]
			let current_slide="0"
			let current_slide2="1"

			function getTileSource(image_url) {
			return {
				type: 'image',
				buildPyramid: false,
				url: image_url,
				//width: images[index].width,
				//height: images[index].height
			};
			}

            var viewer1 = OpenSeadragon({
            id: "viewer0",
            prefixUrl: "https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/",
            tileSources: getTileSource(frozen_file_name), 
            showNavigator:  true,
            degrees: 0,
            // Show rotation buttons
            showRotationControl: true,
            // Enable touch rotation on tactile devices
            gestureSettingsTouch: {
                pinchRotate: true
            },
            zoomInButton:   "zoom-in",
            zoomOutButton:  "zoom-out",
            homeButton:     "home",
            fullPageButton: "fullscreen",
            rotateLeftButton:     "rotate-left",
            rotateRightButton: "rotate-right",
            maxZoomPixelRatio: 4,
            minZoomLevel: 1, maxZoomLevel: 100
            });

            var viewer2 = OpenSeadragon({
            id: "viewer1",
            prefixUrl: "https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/",
            tileSources: getTileSource(aiffpe_file_name), 
            showNavigator:  true,
            degrees: 0,
            // Show rotation buttons
            showRotationControl: true,
            // Enable touch rotation on tactile devices
            gestureSettingsTouch: {
                pinchRotate: true
            },
              zoomInButton:   "zoom-in",
            zoomOutButton:  "zoom-out",
            homeButton:     "home",
            fullPageButton: "fullscreen",
            rotateLeftButton:     "rotate-left",
            rotateRightButton: "rotate-right",
            maxZoomPixelRatio: 4,
            minZoomLevel: 1, maxZoomLevel: 100
            });

            viewer1.addHandler('open', viewerOpenHandler);
            viewer2.addHandler('open', viewerOpenHandler);

            function viewerOpenHandler(viewer) {}

            var viewer1Leading = false;
            var viewer2Leading = false;

            var viewer1Handler = function() {
            if (viewer2Leading) {
                return;
            }

            viewer1Leading = true;
            viewer2.viewport.zoomTo(viewer1.viewport.getZoom());
            viewer2.viewport.panTo(viewer1.viewport.getCenter());
            viewer1Leading = false;
            };

            var viewer2Handler = function() {
            if (viewer1Leading) {
                return;
            }

            viewer2Leading = true;
            viewer1.viewport.zoomTo(viewer2.viewport.getZoom());
            viewer1.viewport.panTo(viewer2.viewport.getCenter());
            viewer2Leading = false;
            };

            viewer1.addHandler('zoom', viewer1Handler);
            viewer2.addHandler('zoom', viewer2Handler);
            viewer1.addHandler('pan', viewer1Handler);
            viewer2.addHandler('pan', viewer2Handler);


            function patientHandle() {
                console.log("slide: "+ current_slide2)
                let isChecked=false;
                    if ($("#toggle-event").prop('checked')){
                        isChecked=true;
                    }
               
                if (isChecked===true){
                    if($('#OrganSelection').val()=="GBM"){
							if($('#PatientSelection').val()=="Patient1"){
								frozen_file_name=gbm_frozen_files_patch[0];
								aiffpe_file_name=gbm_fake_files_patch[0];
								current_slide="0";
								current_slide2="1";

							}
							else if($('#PatientSelection').val()=="Patient2"){
								frozen_file_name=gbm_frozen_files_patch[1];
								aiffpe_file_name=gbm_fake_files_patch[1];
								current_slide="2";
								current_slide2="3";

							}
				}

				    else if($('#OrganSelection').val()=="LGG"){
								if($('#PatientSelection').val()=="Patient1"){
									frozen_file_name=lgg_frozen_files_patch[0];
									aiffpe_file_name=lgg_fake_files_patch[0];
									current_slide="4";
									current_slide2="5";
									}

							else if($('#PatientSelection').val()=="Patient2"){
									frozen_file_name=lgg_frozen_files_patch[1];
									aiffpe_file_name=lgg_fake_files_patch[1];
									current_slide="6";
									current_slide2="7";
									}
				}
				    else if($('#OrganSelection').val()=="LUAD"){
								if($('#PatientSelection').val()=="Patient1"){
									frozen_file_name=luad_frozen_files_patch[0];
									aiffpe_file_name=luad_fake_files_patch[0];
									current_slide="8";
									current_slide2="9";
									}
									else if($('#PatientSelection').val()=="Patient2"){
									frozen_file_name=luad_frozen_files_patch[1];
									aiffpe_file_name=luad_fake_files_patch[1];
									current_slide="10";
									current_slide2="11";
									}
				}
				    else if($('#OrganSelection').val()=="LUSC"){
								if($('#PatientSelection').val()=="Patient1"){
									frozen_file_name=lusc_frozen_files_patch[0];
									aiffpe_file_name=lusc_fake_files_patch[0];
									current_slide="12";
									current_slide2="13";
									}
									else if($('#PatientSelection').val()=="Patient2"){
									frozen_file_name=lusc_frozen_files_patch[1];
									aiffpe_file_name=lusc_fake_files_patch[1];
									current_slide="14";
									current_slide2="15";
                                    console.log("hereeee")
									}
				}

                }else{
                    if($('#OrganSelection').val()=="GBM"){
							if($('#PatientSelection').val()=="Patient1"){
								frozen_file_name=gbm_frozen_files[0];
								aiffpe_file_name=gbm_fake_files[0];
								current_slide="0";
								current_slide2="1";

							}
							else if($('#PatientSelection').val()=="Patient2"){
								frozen_file_name=gbm_frozen_files[1];
								aiffpe_file_name=gbm_fake_files[1];
								current_slide="2";
								current_slide2="3";

							}
				}

				    else if($('#OrganSelection').val()=="LGG"){
								if($('#PatientSelection').val()=="Patient1"){
									frozen_file_name=lgg_frozen_files[0];
									aiffpe_file_name=lgg_fake_files[0];
									current_slide="4";
									current_slide2="5";
									}

							else if($('#PatientSelection').val()=="Patient2"){
									frozen_file_name=lgg_frozen_files[1];
									aiffpe_file_name=lgg_fake_files[1];
									current_slide="6";
									current_slide2="7";
									}
				}
				    else if($('#OrganSelection').val()=="LUAD"){
								if($('#PatientSelection').val()=="Patient1"){
									frozen_file_name=luad_frozen_files[0];
									aiffpe_file_name=luad_fake_files[0];
									current_slide="8";
									current_slide2="9";
									}
									else if($('#PatientSelection').val()=="Patient2"){
									frozen_file_name=luad_frozen_files[1];
									aiffpe_file_name=luad_fake_files[1];
									current_slide="10";
									current_slide2="11";
									}
				}
				    else if($('#OrganSelection').val()=="LUSC"){
								if($('#PatientSelection').val()=="Patient1"){
									frozen_file_name=lusc_frozen_files[0];
									aiffpe_file_name=lusc_fake_files[0];
									current_slide="12";
									current_slide2="13";
									}
									else if($('#PatientSelection').val()=="Patient2"){
									frozen_file_name=lusc_frozen_files[1];
									aiffpe_file_name=lusc_fake_files[1];
									current_slide="14";
									current_slide2="15";
									}
				    }
                }
                
                viewer1.addTiledImage({
                    tileSource: getTileSource(frozen_file_name),
                    replace: true,
                    index: 0
                });
                viewer2.addTiledImage({
                    tileSource: getTileSource(aiffpe_file_name),
                    replace: true,
                    index: 0
                });
                //changeSrc(current_slide,current_slide2,frozen_file_name,aiffpe_file_name);
            }


		document.getElementById("PatientSelection").addEventListener("change", patientHandle);
		document.getElementById("OrganSelection").addEventListener("change", patientHandle);
        document.getElementById("toggle-event").addEventListener("change", patientHandle);


			      })();
		</script>


    </body>

</html>

