<div class="container">
  <footer class="footer">
    <small>
      &copy2020 
      by Mehmet Turans Lab
    </small>
    <nav>
      <ul>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>
